<div class="col-md-8 offset-md-3">
    <h3 style="text-align: center;font-family: 'Times New Roman';font-size: x-large;color: #007bff">Modifier Livre</h3>

    <form (ngSubmit)="onSubmit()">



        <div class="form-group">
            <label>Cin</label>
            <input type="number" class="form-control" id="cin"
                   [(ngModel)]="l.cin" name="cin">
          </div>
          <div class="form-group">
            <label>Nom</label>
            <input type="text" class="form-control" id="nom"
                   [(ngModel)]="l.nom" name="nom">
          </div>
          <div class="form-group">
            <label>Prenom</label>
            <input type="text" class="form-control" id="prenom"
                   [(ngModel)]="l.prenom" name="prenom">
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" id="email"
                   [(ngModel)]="l.email" name="email">
          </div>
          <div class="form-group">
            <label>Mot de Passe</label>
            <input type="password" class="form-control" id="Mot de Passe"
                   [(ngModel)]="l.password" name="Mot de Passe">
          </div>
          <div class="form-group">
            <label>Adresse</label>
            <input type="text" class="form-control" id="Adresse"
                   [(ngModel)]="l.adresse" name="Adresse">
          </div>
          <div class="form-group">
            <label>Telephone</label>
            <input type="number" class="form-control" id="Telephone"
                   [(ngModel)]="l.telephone" name="Telephone">
          </div>




      <div class="form-element">
        <button  color="primary" type="submit" class="btn btn-success" style="background-color: darkcyan">Modifier</button>
        <button  color="primary" (click)="retour()"  class="btn btn-danger" style="background-color: #8B4043">Retour</button>
      </div>


    </form>
  </div>
