

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 style="text-align: center">Liste Libraire</h2>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <button (click)="ajouter()" mat-flat-button color="primary">Ajouter Libraire</button>
      </div>
      <table class="table table-striped">

        <thead>
        <tr>
          <th>cin</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Email</th>
          <th>Mot de Passe</th>
          <th>Adresse</th>
          <th>Telephone</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let u of libraire  ">
            <td>{{u.cin}}</td>
           <td>{{u.nom}}</td>
          <td>{{u.prenom}}</td>
          <td>{{u.email}}</td>
          <td>{{u.login}}</td>
           <td>{{u.password}}</td>
           <td>{{u.adresse}}</td>
           <td>{{u.telephone}}</td>




        <!--  <td><button (click)="deleteLibraire(u.cin)" class="btn btn-danger">Delete</button>
            <button (click)="toUpdate(u.cin)" class="btn btn-info" style="margin-left: 10px">Update</button>
          </td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </div>

