<div class="container mt-xl-5 mb-5">
    <div class="d-flex justify-content-center pt-5">
        <h2 class="font-weight-bold">Get in touch!</h2>
    </div>
    <div class="d-flex justify-content-center text-muted">Contact us for a quote</div>
    <div class="d-md-flex flex-md-row justify-content-center py-4">
        
        <div class="d-flex flex-column contact px-4">
            <div class="d-md-flex justify-content-center icon py-2"> <span class="fa fa-phone"></span> <span class="mobile-info text-dark p-2 pb-3">+02 1234 567</span> </div>
            <div class="contact-info">+216 29 436 192</div>
        </div>
        <div class="d-flex flex-column contact px-4">
            <div class="d-md-flex justify-content-center icon py-2"> <span class="fa fa-envelope"></span> <span class="mobile-info text-dark p-2 pb-3">hello@flowbase.com</span> </div>
            <div class="contact-info">smartbook@gmail.com</div>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-center">
        <form class="w-xl-50 w-lg-75">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group"> <label for="name">Your Name</label>
                            <div class="input-field"> <span class="fa fa-user-o p-2 border-right"></span> <input type="text" required> </div>
                        </div>
                        <div class="form-group"> <label for="name">Mail</label>
                            <div class="input-field"> <span class="fa fa-envelope-o p-2"></span> <input type="email" required> </div>
                        </div>
                        <div class="form-group"> <label for="name">Phone</label>
                            <div class="input-field"> <span class="fa fa-mobile p-2"></span> <input type="tel" required> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group"> <label for="msg">Message</label>
                            <div class="input-field bg-light"> <textarea name="message" id="msg" cols="10" rows="9" class="form-control bg-light" placeholder="Your Name"></textarea> </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-center w-100"> <input type="button" value="send message" class="btn" > </div>
                </div>
            </div>
        </form>
    </div>
</div>